
.form-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 10px;
  align-items: center;
}

@media (max-width: 600px) {
  .form-inputs {
    grid-template-columns: 1fr;
  }
}

.form-submitBtn {
  width: 100%;
}

