.cardContainer {
  margin-top: 50px;
}

.cardContainer-tableCtrl {
  display: flex;
  justify-content: end;
}

.Table-buttonsAction {
  justify-content: flex-end;
  gap: 10px;
}

@media (max-width: 600px) {
  .Table-buttonsAction {
    flex-direction: column;
  }
}