.layout {
  height: 100%;
  display: flex;
}

.layout_sidebar {
  width: 200px;
  flex-shrink: 0;
  padding-right: 10px;
  border-right: 1px #cdcdcd solid;
}

.layout_content {
  flex-grow: 1;
  overflow: auto;
}

.layout_navigation {
  margin-bottom: 10px;
}

.layout_button {
  margin-left: 10px;
}

.layout_button button {
  width: 100%;
}

.layout_button + .layout_button {
  margin-top: 10px;
}
